{% extends 'base.html' %}

{% block title %}Обнoвление профиля{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Обновление профиля</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="surname" class="form-label">Фамилия</label>
                <input type="text" class="form-control" id="surname" name="surname" value="{{ user.id_citizen.surname }}">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ user.id_citizen.name }}">
            </div>
            <div class="mb-3">
                <label for="patronymic" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="patronymic" name="patronymic" value="{{ user.id_citizen.patronymic }}">
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label">Телефон</label>
                <input type="text" class="form-control" id="tel" name="tel" value="{{ user.id_citizen.tel }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.id_citizen.email }}">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Город</label>
                <input type="text" class="form-control" id="city" name="city" value="{{ user.id_citizen.id_city.name_city|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="street" class="form-label">Улица</label>
                <input type="text" class="form-control" id="street" name="street" value="{{ user.id_citizen.id_street.name_street|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="house" class="form-label">Дом</label>
                <input type="text" class="form-control" id="house" name="house" value="{{ user.id_citizen.house|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="flat" class="form-label">Квартира</label>
                <input type="text" class="form-control" id="flat" name="flat" value="{{ user.id_citizen.flat|default:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}