{% extends 'base.html' %}

{% block title %}Все обращения{% endblock %}

{% block content %}
<div class="container">
    <h2>Все обращения</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Гражданин</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Назначить службу</th> <!-- Новая колонка -->
            </tr>
        </thead>
        <tbody>
            {% for appeal in appeals %}
            <tr>
                <td>{{ appeal.id }}</td>
                <td>{{ appeal.id_sitizen.surname }} {{ appeal.id_sitizen.name }}</td>
                <td>{{ appeal.description_problem }}</td>
                <td>{{ appeal.processing_appeals_set.last.id_status.name_status }}</td>
                <td>
                    <form method="post" action="{% url 'assign_service' appeal.id %}">
                        {% csrf_token %}
                        <select name="service" class="form-select">
                            <option value="">Не назначено</option>
                            {% for service in services %}
                                <option value="{{ service.id }}" {% if appeal.id_service == service %}selected{% endif %}>
                                    {{ service.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary btn-sm mt-2">Назначить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}