{% extends 'base.html' %}

{% block title %}Управление пользователями{% endblock %}

{% block content %}
<div class="container">
    <h2>Управление пользователями</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.is_superuser %}
                        Суперпользователь
                    {% elif user.is_staff %}
                        Администратор
                    {% else %}
                        Пользователь
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}