{% extends 'base.html' %}

{% block title %}Редактировать обращение{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h2 class="text-center mb-4">Редактировать обращение</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="form-group">
                <label for="id_id_category">Категория</label>
                {{ form.id_category }}
            </div>
            <br>
            <div class="form-group">
                <label for="id_description_problem">Описание проблемы</label>
                {{ form.description_problem }}
            </div>
            <br>
            <div class="form-group">
                {% if form.photo.value %}
                    <div class="mb-3">
                        <label>Текущее изображение:</label>
                        <br>
                        <img src="{{ form.photo.value.url }}" alt="Текущее изображение" class="img-thumbnail" style="max-width: 300px;">
                    </div>
                {% endif %}
                {{ form.photo }}
                <div class="mt-2">
                    <label for="id_photo">Предпросмотр нового изображения:</label>
                    <img id="preview-img" class="img-thumbnail" style="max-width: 300px; display: none;">
                </div>
            </div>

            <br>
            <div style="display: flex; align-items: center; gap: 10px; ">
                <button style="margin-top: 10px;" type="submit" class="btn btn-success btn-block">Сохранить</button>
                <a href="{% url 'view_appeals' %}" class="btn btn-secondary btn-block mt-2">Отмена</a>
            </div>

        </form>
    </div>
</div>

<!-- Скрипт для предпросмотра изображения -->
<script>
    document.getElementById('id_photo').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview-img');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.style.display = 'none';
        }
    });
</script>
{% endblock %}
